* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --card_1_color: #1771e6;
  --card_2_color: #4ec1f2;
  --card_3_color: #c3006e;
  --card_4_color: #016193;
  --card_5_color: #1fc75f;
  --card_6_color: #d1463b;
  --card_7_color: #f24100;
  --card_8_color: #b12825;
}
body {
  background-color: rgb(148, 140, 140);
}
.container > h1,
p {
  text-align: center;
}
.container p {
  margin-top: 50px;
  color: whitesmoke;
  font-size: 18px;
  margin-bottom: 5px;
}
.container h1 {
  color: whitesmoke;
  font-size: 50px;
  margin-bottom: 20px;
}
.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card-container .card-style p {
  margin: 10px;
}
.card-container .card-style {
  background-color: White;
  width: 20%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.card-container .card-style:hover {
  box-shadow: rgba(22, 21, 21, 0.623) 3.4px 3.4px 8px 2px;
}
.card-container .card-style .icon {
  color: rgb(90, 87, 87);
  font-size: 35px;
}
.card-container .card-style p {
  color: rgba(128, 128, 128, 0.932);
}
.card-1 {
  border: 5px solid var(--card_1_color);
  background: linear-gradient(
    to bottom right,
    var(--card_1_color) 25px,
    transparent 0
  );
}
.card-2 {
  border: 5px solid var(--card_2_color);
  background: linear-gradient(
    to bottom right,
    var(--card_2_color) 25px,
    transparent 0
  );
}
.card-3 {
  border: 5px solid var(--card_3_color);
  background: linear-gradient(
    to bottom right,
    var(--card_3_color) 25px,
    transparent 0
  );
}
.card-4 {
  border: 5px solid var(--card_4_color);
  background: linear-gradient(
    to bottom right,
    var(--card_4_color) 25px,
    transparent 0
  );
}
.card-5 {
  border: 5px solid var(--card_5_color);
  background: linear-gradient(
    to bottom right,
    var(--card_5_color) 25px,
    transparent 0
  );
}
.card-6 {
  border: 5px solid var(--card_6_color);
  background: linear-gradient(
    to bottom right,
    var(--card_6_color) 25px,
    transparent 0
  );
}
.card-7 {
  border: 5px solid var(--card_7_color);
  background: linear-gradient(
    to bottom right,
    var(--card_7_color) 25px,
    transparent 0
  );
}
.card-8 {
  border: 5px solid var(--card_8_color);
  background: linear-gradient(
    to bottom right,
    var(--card_8_color) 25px,
    transparent 0
  );
}
.card {
  position: relative;
}
.ok {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}

@media only screen and (max-width: 760px) {
  /* body {
    background-color: black;
  } */
  .card-container .card-style {
    width: 30%;
  }
}
@media only screen and (max-width: 550px) {
  /* body {
    background-color: cornflowerblue;
  } */
  .card-container .card-style {
    width: 40%;
  }
}
@media only screen and (max-width: 430px) {
  .card-container .card-style {
    width: 80%;
  }
}
